*{
      margin: 0;
      font-family: arial;
      border: border-box;
}
.navbar{
   height: 60px;
   background-color: #0f1111;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.nav-logo{
   height: 50px;
   width: 100px;
}
.logo{
   background: url("Amazon_Logo.d5483c3ec114e2a38018.png");
   background-size: cover;
   height: 30px;
   width: 100%;
   position: relative;
   top: 15px;
}
.border{
   border: 2px solid transparent;
}
.border:hover{
   border: 1.5px solid white;
}
.add-first{
color: #cccccc;
font-size: 0.85rem;
margin-left: 23px;
}
.add-second{
   font-size: 1rem;
   margin-left: 3px;
  
}  
.add-icon{
   display: flex;
   align-items: center;
}
.nav-search{
   display: flex;
   justify-content: space-evenly;
   background-color: tomato;
   width: 1300px;
   height: 40px;
border-radius: 4px;
}
.search-select{
   background-color: #f3f3f3;
   width: 50px;
   text-align: center;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border: none;
}
.search-input{
   width: 100%;
   border: none;
   font-size: 1rem;
}
.search-icon{
   width: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   background-color: rgb(255, 174,0);
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   color:  #0f1111;
}
.nav-search:hover {
   border: 2px solid orange;
}
span{
   font-size: 0.7rem;
}
.nav-second{
   font-size: 0.85rem;
   font-weight: 700;
}
.nav-cart i{
   font-size: 30px;
}
.nav-cart{
   font-size: 0.85rem;
   font-weight: 700;
}
.panel{
   height: 40px;
   background-color: #222f3d;
   display: flex;
   color:white;
   align-items: center;
   justify-content: space-evenly;
}
.panel-ops p{
   display: inline;
   margin-left: 15px;

}
.panel-ops{
   width: 85%;
   font-size: 0.85rem;
}
.panel-deals{
  font-size: 0.9rem;
   font-weight: 700;
}
.hero-section{
   background: url("71spMfddxoL._SX3000_.jpg");
   height: 350px;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.hero-msg{
   background-color: white;
   color: black;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 0.85rem;
   width: 95%;
   margin-bottom: 20px;
}
.hero-msg a{
   color: #007185;
}
.shop-section{
   display: flex;
   justify-content: space-evenly;
   background-color: rgb(250, 204, 212);
  flex-wrap: wrap;
}
.box{
   height: 400px;
   width: 23%;
   background-color: white;
   padding: 20px 0px 15px;
   margin-top: 10px;
}
.box-img{
   height: 90%;
   margin-top: 1rem;
   margin-bottom: 1rem;
   background-size: cover;
}
.box-content {
    height: 85%;
   margin-left: 1rem;
   margin-right: 1rem;
}
.box-content p{
   color: #007185;
}
.foot-panel1{
   background-color: #37475a;
   color: white;
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.8rem;
}
.foot-panel2{
   background-color: #222f3d;
   color: white;
   height: 500px;
   display: flex;
   justify-content: space-evenly;
}
ul{
   margin-top: 20px;
}
ul a{
   display: block;
   font-size: 0.85rem;
   margin-top: 10px;
   color: #dddddd;
}
.foot-panel3{
   background-color: #222f3d;
   color: white;
   border: 0.5px solid white;
   height: 60px;
   display: flex;
   justify-content: center;
}
.logo{
    background: url("Amazon_Logo.d5483c3ec114e2a38018.png");
   background-size: cover;
   height: 30px;
   width: 100px;
   position: relative;
   top: 15px;

}
.foot-panel4{
   background-color: #0f1111;
   color: white;
   height: 70px;
   /* display: flex;
   justify-content: center;
   align-items: center; */
}
.pages{
font-size: 0.7rem;
text-align: center;
padding-top: 25px;
display: flex;
justify-content: space-evenly;
margin-left: 650px;
margin-right: 650px;
}
.copy{
   padding-top: 5px;
font-size: 0.7rem ;
text-align: center;
}